{% extends "layout.html" %}
{% load custom_tags %}
{% block main %}
<main class="container-fluid"><button style="position:fixed;top:10px;left:10px;z-index:9999;" class="btn btn-blue2" onclick="goBack()" title="Voltar"><i class="bi bi-arrow-left"></i> Voltar</button>
    <br><br><br>
    <div class="container">
        <div class="row card">
          <div class="card-header">
            <h5 class="card-title text-center">Editar Usuário</h5>
          </div>
                {% if var == "igual" or request.user.ds_grupo == "GES"%}
              <form method="POST" class="post-form row g-3 form_historico">
                {% csrf_token %}
                {{ form }}
              <div align="center">
                <button type="button" class="col save btn btn-danger" onclick="cancelar()">Cancelar</button>
                <button type="submit" class="col save btn btn-success ">Salvar</button>
              </div>
  </form>
            {% else %}
                Acesse o link correspondente ao seu usuário: <a href="{% url 'UsuarioUpdate' request.user.id %}">Dados Cadastrais</a>
            {% endif %}
            <br>
            </div>
      </div>
</main>
{% endblock %}